---
import { locales, baseLocale } from "../paraglide/runtime.js";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content={`0; url=/${baseLocale}`} />
    <script is:inline define:vars={{ locales, baseLocale }}>
      var lang = (navigator.language || "").split("-")[0].toLowerCase();
      var match =
        locales.find(function (l) {
          return l === lang;
        }) || baseLocale;
      window.location.replace("/" + match);
    </script>
  </head>
  <body>
    <a href={`/${baseLocale}/`}>Redirect</a>
  </body>
</html>
